@using SGDS_Web.ViewModels.Dons
@model DonVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Don</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Donneur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Donneur.NIF)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Collecte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Collecte.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Volume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Volume)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TestePositifPourMaladie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TestePositifPourMaladie)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
