@model SGDS_Web.ViewModels.DonneurVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<a asp-action="Create" asp-controller="Dossiers" asp-route-donneurId="@Model.Id" asp-route-CIN="@Model.CIN" asp-route-NIF="@Model.NIF">Ajouter un dossier</a>
<div>
    <h4>Donneur</h4>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GroupeSanguin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GroupeSanguin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CIN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CIN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NIF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NIF)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prenom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sexe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sexe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateNaissance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateNaissance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatutMatrimonial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatutMatrimonial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Occupation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Occupation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adresse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telephone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
